.inline-chart {
  display: inline-block;
  width: 49%;

  svg {
    rect {
      &.bar {
        fill: #86c7df;
        &:hover {
          fill: #990000;
        }
      }
    }

    .axis {
      path,
      line {
        stroke: #ccc;

        &.domain {
          display: none;
        }
      }
      &.x {
        .tick {
          line {
            display: none;
          }
        }
      }
    }
  }
}

.charts {
  width: 100%;
  h4 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
}
